<h1>Welcome <%=current_user.name%>!</h1>
<h2>Are you ready to find your next adventure?</h2>
<br>
<a class= "btn btn-primary" href="/hikes/new">Add Hike</a>
<br>
<br>
<ul>
<%current_user.hikes.each do |hike|%>
    <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="<%=hike.img_url%>" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title"><%=hike.name%></h4>
                    </div>
                    <a class="btn btn-info" href="/hikes/<%=hike.id%>">Show Hike</a>
                </div>
            </div>
<%end%>
<ul>

<a type="button" class="btn btn-default" href="/">Back</a>